body {
  background: #333;
  color: #fff;
}
.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

.searchbox {
  width: 100%;
}
.city {
  font-size: 5vh;
}

.main-row {
  margin-top: 100px;
  height: 100vh;
}

.first-row {
  margin-bottom: 30px;
}

.second-row {
  margin-top: 10vh;
  height: 10vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.main-col {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../image/weather.jpg);
  background-size: cover;
  background-position: center;
}

span {
  font-size: 10px;
}
.btn {
  padding-top: 1px;
  padding-bottom: 1px;
}
.weather-temp {
  font-size: 8em;
}
