{{>header}}
<div class="row main-row">
    <div class="col-sm-6 offset-3 ">
        <div class="jumbotron bg-dark">
            <h1 class="display-4">Weather API</h1>
            <p class="lead">This is a simple Weather API project. Using nodeJs, javaScript Es6, Bootstrap, and Express,
                Request packages.</p>
            <hr class="my-4">
            <p>This project created by Ahmed Abdulrazzaq</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://github.com/ahmedali1994" role="button">GitHub
                    Account</a>
            </p>
        </div>
    </div>
</div>

{{>footer}}