{{>header}}
<!-- START HERE -->
<div class="row main-row">
    <div class="col-sm-6 offset-3 main-col">
        <div class="row first-row">
            <div class="col-sm-6 offset-3">
                <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
                    <input class="form-control form-control-sm mr-1 w-75" type="text" placeholder="Location..."
                        aria-label="Search" name="Vol" required />
                    <button type="submit" class="btn btn-info"><i class="fas fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="row second-row bd-info">
            <div class="col-sm-8 offset-2 d-flex justify-content-around">
                <h3 class="city"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-3 d-flex justify-content-around">
                <h3 class="weather-des"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-3 d-flex justify-content-around">
                <h2 class="weather-temp"></h2>
            </div>
        </div>

    </div>
</div>


{{>footer}}